@use 'config' as *;

@mixin breakpoint($bp, $is_mobile:false)
{
    @if($is_mobile)
    {
        @media(min-width: map-get($bps, $bp))
        {
            @content;
        }
    }
    @else
    {
        @media(max-width: map-get($bps, $bp))
        {
            @content;
        }
    }
}

@mixin isMobile
{
    @media only screen and (hover: none) and (pointer: coarse)
    {
        @content;
    }
}

@mixin transition($target: null)
{
    @if not $target
    {
        transition: var(--main-transition-time) var(--main-transition-type);
    }
    @else
    {
        $value: null;
        @each $i in $target
        {
            $value: $value, $i var(--main-transition-time) var(--main-transition-type);
        }
        transition: $value;
    }
}
