header.header
    .wrapper
        .header__body
            h2.header__title.title I'm header
            .header__top
                a.logo(href='#')
                    img.logo__img(src='/img/logo.svg' alt='logo')
