// Design properties. Unique for each project 
$page-width:      1600px;
$wrapper-padding: 4px;
$wrapper-width:   1300px;

:root
{
    --bg-color: #F0F0F0;
    --accent-color: #8e3fcf;
    --over-accent-color: #EFEFEF;
    --main-color: #2B2B2B;


    --main-font: Roboto;
    --main-font-size: 16px;
}

$bps:
(
    xs:  0,
    sm:  576px,
    md:  768px,
    lg:  992px,
    xl:  1200px,
    xxl: 1400px,

    pw:  $page-width,
);
