// Design properties. Unique for each project 
$page-width:      1600px;
$wrapper-padding: 10px;
$wrapper-width:   1200px;


$bg-color: #F0F0F0;
$accent-color: #8e3fcf;
$over-accent-color: #EFEFEF;
$main-color: #2B2B2B;

$main-font: 'Roboto';
$main-font-size: 16;
$main-font-weight: 400;
$main-line-height: 1.2;

$main-transition-time: 0.5s;
$main-transition-type: cubic-bezier(0.23, 1, 0.32, 1);

$to-root:
(
    'color':
    (
        'main': #2B2B2B,
        'accent':
        (
            '_val_': #8E3FcF,
            '1': #3F8EcF
        ),
        'bg': #F0F0F0
    ),

    'font':
    (
        'main':
        (
            'size':
            (
                '_val_': 16,
                '_ext_': px,
                '_bps_':
                (
                    'lg':
                    (
                        '_val_': 12,
                        '_ext_': px
                    ),
                    'md':
                    (
                        '_val_': 8,
                        '_ext_': px
                    )
                )
            ),
            'weight': 400,
            'height': ('_val_': 1.2, '_ext_': rem)
        )
    ),

    'transition':
    (
        'main':
        (
            'time': ('_val_': 0.5, '_ext_': s),
            'type': cubic-bezier(0.23, 1, 0.32, 1)
        )
    )
);


$bps:
(
    xs:  0,
    sm:  576px,
    md:  768px,
    lg:  992px,
    xl:  1200px,
    xxl: 1400px,

    pw:  $page-width,
);
