@use 'sass:math' as *;

@use 'include/stabilizer' as *;
@use 'config' as *;
@use 'mixins/all' as *;
@use 'include/header' as *;
@use 'include/footer' as *;


:root
{
    @include setVars($to-root);
}

body
{
    color: var(--color-main);
    font-family: var(--font-main);
    font-size: var(--font-main-size);
    font-weight: var(--font-main-weight);
    line-height: var(--line-main-height);
    background: var(--color-bg);

    @include isMobile
    {
        -webkit-tap-highlight-color: transparent;
    }
}

a
{
    color: inherit;
    text-decoration: none;
    transition: color var(--transition-main-time) var(--transition-main-type);

    &:hover
    {
        color: var(--color-accent)
    }
}

.page-wrapper
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper
{
    max-width: calc(#{$wrapper-width} + (#{$wrapper-padding} * 2));
    padding: 0 $wrapper-padding;

    margin: 0 auto;
}

.swiper-slide
{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid palegreen;
    color: palegreen;
    font-size: 30px;
}

