@use 'sass:math' as *;

@use 'include/stabilizer' as *;
@use 'config' as *;
@use 'mixins/all' as *;
@use 'include/header' as *;
@use 'include/footer' as *;


:root
{
    --bg-color: #{$bg-color};
    --accent-color: #{$accent-color};
    --over-accent-color: #{$over-accent-color};
    --main-color: #{$main-color};

    --main-font: #{$main-font};
    --main-font-size: #{$main-font-size+px};
    --main-font-weight: #{$main-font-weight};
    --main-line-height: #{$main-line-height+rem};

    --main-transition-time: #{$main-transition-time};
    --main-transition-type: #{$main-transition-type};
}

body
{
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    line-height: var(--main-line-height);
    background: var(--bg-color);

    @include isMobile
    {
        -webkit-tap-highlight-color: transparent;
    }
}

a
{
    color: inherit;
    text-decoration: none;
    transition: color var(--main-transition-time) var(--main-transition-type);

    &:hover
    {
        color: var(--accent-color)
    }
}

.page-wrapper
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper
{
    max-width: calc(#{$wrapper-width} + (#{$wrapper-padding} * 2));
    padding: 0 $wrapper-padding;

    margin: 0 auto;
}

