include /templates/mixins/all

block vars
    - var title = 'Title';
    - var lang = 'ru';

doctype html
html(lang=lang)
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{title}
        link(rel='icon' href='./img/favicons/main.webp')
        block styles
            link(rel='stylesheet' href='https://necolas.github.io/normalize.css/latest/normalize.css')
            link(rel='stylesheet' href='/css/main.css')
            link(rel='stylesheet' href='/css/iconsfont.css')
    body
        .page-wrapper
            block content
        block scripts
            script(src='/js/main.js')
